<div class="testimonials-wrap testimonials-slider col-12"><!----testimonials-block-----><!----testimonials-box----->
    <div class="row">
        <div class="testimonials__box justify-content-between d-flex col-md-8 mx-auto"><img class="testimonials__avatar" src="{{ asset('image/common/circle-chl.png') }}"/>
            <div>
                <div class="d-flex">
                    <p class="desc-text desc-text__name">Вася</p>
                    <p class="desc-text desc-text__city">Одесса</p>
                </div>
                <p class="desc-text desc-text--black desc-text__md margin-text-y">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
            </div>
        </div>
    </div><!----testimonials-block-----><!----testimonials-box----->
    <div class="row">
        <div class="testimonials__box justify-content-between d-flex col-md-8 mx-auto"><img class="testimonials__avatar" src="{{ asset('image/common/circle-chl.png') }}"/>
            <div>
                <div class="d-flex">
                    <p class="desc-text desc-text__name">Вася</p>
                    <p class="desc-text desc-text__city">Одесса</p>
                </div>
                <p class="desc-text desc-text--black desc-text__md margin-text-y">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
            </div>
        </div>
    </div><!----testimonials-block-----><!----testimonials-box----->
    <div class="row">
        <div class="testimonials__box justify-content-between d-flex col-md-8 mx-auto"><img class="testimonials__avatar" src="{{ asset('image/common/circle-chl.png') }}"/>
            <div>
                <div class="d-flex">
                    <p class="desc-text desc-text__name">Вася</p>
                    <p class="desc-text desc-text__city">Одесса</p>
                </div>
                <p class="desc-text desc-text--black desc-text__md margin-text-y">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
            </div>
        </div>
    </div>
</div>