<div class="video-testimonials-wrap multiple-items col-12"><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box"><img class="img-video" src="{{ asset('img/family-s.jpg') }}" alt="img"/>
            <iframe class="d-flex justify-content-center" data-src="https://www.youtube.com/embed/dcMRHF0Wt3I?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            <button class="play-video"></button>
        </div>
        <p class="title-text__sm margin-text">Одно из самых важных наших преимуществ</p>
        <p class="desc-text desc-text--black desc-text__md margin-text-y">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
    </div><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box"><img class="img-video" src="{{ asset('img/family-s.jpg') }}" alt="img"/>
            <iframe class="d-flex justify-content-center" data-src="https://www.youtube.com/embed/dcMRHF0Wt3I?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            <button class="play-video"></button>
        </div>
        <p class="title-text__sm margin-text">Одно из самых важных наших преимуществ</p>
        <p class="desc-text desc-text--black desc-text__md margin-text-y">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
    </div><!----video-testimonials-box----->
    <div class="video-testimonials__box justify-content-between col-6">
        <div class="testimonials-video video-box"><img class="img-video" src="{{ asset('img/family-s.jpg') }}" alt="img"/>
            <iframe class="d-flex justify-content-center" data-src="https://www.youtube.com/embed/dcMRHF0Wt3I?rel=0&amp;amp;controls=0&amp;amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            <button class="play-video"></button>
        </div>
        <p class="title-text__sm margin-text">Одно из самых важных наших преимуществ</p>
        <p class="desc-text desc-text--black desc-text__md margin-text-y">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
    </div>
</div>