<header class="header-top header-top-full">
            <!---logo_home-link--->
            <a class="full-logo" href="{{ path('home') }}">
                <img class="logo" src="{% path setting.logoHeader, 'reference' %}"/>
            </a>
</header>
