<div class="example-store create-movie">
    <h2 class="text-center title-text__md">{{ 'front.create_a_clip'|trans }}</h2>
    <div class="col-12 d-flex justify-content-between how-info__content flex-wrap">
        <div class="col-md-12 m-md-auto order-1 order-lg-0">
            <p class="desc-text desc-text--black text-center desc-text--blue">
                {{ 'front.video_not_found'|trans }}
            </p>
        </div>
    </div>
</div>