<div class="name-page container create-movie postcard-making">
{#    <image class="decor" src="{{ asset('image/new-elem/use.png') }}" alt="use">#}
    <h1 class=" title-text__xs--black wrapper-text margin-text">{{ video.title }}</h1>
{#    <image class="decor-aps__deg decor-aps" src="{{ asset('image/new-elem/decor-arrow.png') }}" alt="arrow">#}
</div>