<div class="container user-info">
    <h2 class="text-center title-text__md about__title">{{ title }}</h2>
    <div class="row">
        <div class="col-10 desc-text desc-text--black m-auto text-center">
            {{ text|raw }}
        </div>
        <a class="btn btn__free btn__free--red btn-text" href="{{ path('home') }}">{{ 'front.go_back_to_the_main_page'|trans }}</a>
    </div>
</div>