<div class="col-sm-10 col-12 successe-payd">
    <p class="liker"><i class="far fa-thumbs-up"></i></p>

    <h3 class="title-text__sm text-center how-about title-text__article title-text__article--about  about__desc">{{ text|raw }}</h3>

    <div class="container">
        <div class="row">
            <div class="all-video__box col">
                <div class="col-12 d-flex justify-content-between how-info__content flex-wrap">
                    <div class="col-md-12 m-md-auto order-1 order-lg-0">
                        <div class="text-center mb-5">
                            <a class="btn btn__free btn__main btn-text" href="{{ path('home') }}">{{ 'front.go_back_to_the_main_page'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>