<ul class="col-12 testim-radio radio-group">
    <li>
        <input class="checkbox account-check" type="radio" name="testi" id="testi" value="{{ 'front.review'|trans }}" checked="">
        <label for="testi">{{ 'front.review'|trans }}</label>
    </li>
    <li>
        <input class="checkbox account-check" type="radio" name="testi" id="testi-v" value="{{ 'front.review_videos'|trans }}">
        <label for="testi-v">{{ 'front.review_videos'|trans }}</label>
    </li>
</ul>