{% if breadcrumbs is defined and breadcrumbs is not empty %}
<nav aria-label="breadcrumb" class="wrap-breadcrumb">
    <ol class="breadcrumb container">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}