{% if page.pageContentTitle is not empty %}
<div class="block-text__title container">
{#    <image class="decor-aps__deg decor-aps" src="{{ asset('image/new-elem/decor-arrow.png') }}" alt="arrow">#}
{#    <image class="decor" src="{{ asset('image/new-elem/most.png') }}" alt="most">#}
    <!----title-text---->
    <h1 class="title-text__home font-new">{{ page.pageContentTitle }} </h1>
    <!----title-text-end---->
</div>
{% endif %}