<div class="blockseo__text">
    <div class="container">

                <div class="seo-content hide-seo"><p>{{ page.pageContentSeo|raw }}</p></div>
            {% if page.pageContentSeo is not empty %}
                <div class="btn-area btn-text btn-seo"><a class="seo-more" href="#">раскрыть</a></div>
            {% endif%}

    </div>
</div>
