{% if page.homeVideoReview.empty == false %}
<div class="header__text title-text__sm text-center title-text__article">
    <div class="container">
        
            <!----Header - title----->
            <h1 class="col-12 title-text__md">Поздравительные видосы, делай и радуйся ;)</h1>
        
    </div>
</div>
{% endif %}